<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
       
  
  
        <div class="container">
            <div class="row">    
                <div class="col-xs-70 col-xs-offset-2">
                <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <li class="nav-item dropdown" style="text-align:center">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Categories
                                </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/createBook">Create Books</a>
                                <a class="dropdown-item" routerLink="/createMobile">Create Mobiles</a>
                                <a class="dropdown-item" routerLink="/delbook">Delete Book</a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                        </div>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
                       
                    </div>
                </div>
          </div>
        </div> 
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
        
        <button class="btn btn-danger" type="button" routerLink="/home">LogOut</button>
      </form>
  </nav>
   