<app-navbar></app-navbar>
<mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../assets/images/laptop.jpg" height="550" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../assets/images/mobile.jpg" height="550" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../assets/images/books.jpg" height="550" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>


<p>
    <b>
We have different categories of items.....
</b>
</p>
<p>
    <b>
Please choose from categories
</b>
</p>